/* Importo fuentes de G Fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
/* Importo reglas generales */
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*@import 'base/mapas';
@import 'base/extends';
@import 'base/mixins'; */
/* Importo secciones */
.body-i {
  background-color: antiquewhite;
}
.body-i #section-index {
  flex-flow: column nowrap;
}
.body-i #section-index #centro {
  width: 600px;
  height: 200px;
  background-color: lightcoral;
}
.body-i #section-index #centro h1 {
  font-size: 3em;
}
.body-i #section-index #div-btn-index button {
  background-color: gray;
  height: 50px;
  width: 200px;
  margin-top: 5em;
  animation: init-float 5s cubic-bezier(0.001, 0.02, 0.02, 0.001) 2s infinite;
  box-shadow: 1.6em 0.8em rgba(0, 0, 0, 0.8);
}
@keyframes init-float {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0);
  }
}
.body-i #game-mode {
  background-color: lightcoral;
}
.body-i #game-mode button {
  margin: 1em;
}
.body-i .height-100 {
  height: 100vh;
}
.body-i .height-0 {
  height: 0vh;
  display: none;
}

.body-mp {
  background-color: antiquewhite;
  display: flex;
  flex-flow: column nowrap;
}
.body-mp h1 {
  margin: 2em 2em;
}
.body-mp section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.body-mp section #nombreImagen {
  grid-area: 1/1/9/4;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.body-mp section #nombreImagen p {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0 24px 0;
}
.body-mp section #nombreImagen img {
  display: block;
  width: 85px;
}
.body-mp section #stats {
  grid-area: 1/4/9/7;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-width: 120px;
}
.body-mp section #stats p {
  font-size: 1em;
  display: block;
  color: rebeccapurple;
  margin: 0 0 60px 0;
}
.body-mp section #stats p strong {
  color: black;
  font-size: 1.1em;
}
.body-mp section #acciones {
  grid-area: 1/7/9/10;
}
.body-mp section #acciones .acciones {
  height: 85px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 60px;
}
.body-mp section #acciones .acciones button {
  width: 50%;
}
.body-mp section #inputAcciones {
  grid-area: 1/10/9/13;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.body-mp section #inputAcciones form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  margin-bottom: 60px;
}
.body-mp section #inputAcciones form select {
  width: 100%;
}
.body-mp section #inputAcciones form input {
  width: 100%;
}

.botones {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.botones button {
  align-self: center;
  width: 200px;
  margin: 2em 2em;
}
.botones .ocultar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
