/* Importo fuentes de G Fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
/* Importo reglas generales */
/* Mixins */
/* Mapas */
/* Mixins */
/* Mixins */
/* Mapas */
/* Extends */
.buttons {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #161616;
}
.buttons:hover span {
  transform: translateY(-0.33em);
  -webkit-transform: translateY(-0.33em);
  -o-transform: translateY(-0.33em);
  -moz-transform: translateY(-0.33em);
  -ms-transform: translateY(-0.33em);
}
.buttons:active span {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
}

@font-face {
  font-family: "Kindly";
  src: url("https://dnmartel.github.io/clirpg/KindlyRewind-BOon.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-100 {
  height: 100vh;
}

.height-0 {
  height: 0vh;
}

.d-none {
  display: none;
}

.buttons span {
  display: block;
  box-sizing: border-box;
  border: 2px solid #161616;
  border-radius: 0.75em;
  padding: 0.75em 1.5em;
  background: #e8e8e8;
  color: #161616;
  transform: translateY(-0.2em);
  -webkit-transform: translateY(-0.2em);
  -o-transform: translateY(-0.2em);
  -moz-transform: translateY(-0.2em);
  -ms-transform: translateY(-0.2em);
  transition: transform 0.15s ease;
}

#btn-back-i {
  margin: 2em;
  position: absolute;
  top: 0.3em;
  left: 0.3em;
}

/* Mapas */
/* Mixins */
/* Mixins */
/* Mapas */
/* Extends */
.buttons {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #161616;
}
.buttons:hover span {
  transform: translateY(-0.33em);
  -webkit-transform: translateY(-0.33em);
  -o-transform: translateY(-0.33em);
  -moz-transform: translateY(-0.33em);
  -ms-transform: translateY(-0.33em);
}
.buttons:active span {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
}

/* Mixins */
/* Importo secciones */
/* Mixins */
/* Mapas */
/* Mixins */
/* Mixins */
/* Mapas */
/* Extends */
.buttons {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #161616;
}
.buttons:hover span {
  transform: translateY(-0.33em);
  -webkit-transform: translateY(-0.33em);
  -o-transform: translateY(-0.33em);
  -moz-transform: translateY(-0.33em);
  -ms-transform: translateY(-0.33em);
}
.buttons:active span {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
}

.body-i {
  background-color: #023859;
}
.body-i #section-index {
  flex-flow: column nowrap;
}
.body-i #section-index #centro {
  /* width: 600px;
  height: 200px;
  background-color: lightcoral; */
  margin-bottom: 5em;
}
.body-i #section-index #centro h1 {
  font-size: 3em;
}
@media screen and (max-width: 650px) {
  .body-i #section-index #centro #logo-clirpg {
    width: 350px;
  }
}
.body-i #game-mode {
  background-color: #023859;
  flex-flow: column;
}
.body-i #pop-up {
  height: 10%;
  width: 20%;
  position: fixed;
  top: 25%;
  z-index: 1;
  background-color: blanchedalmond;
}

/* Mixins */
/* Mapas */
/* Mixins */
/* Mixins */
/* Mapas */
/* Extends */
.buttons {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #161616;
}
.buttons:hover span {
  transform: translateY(-0.33em);
  -webkit-transform: translateY(-0.33em);
  -o-transform: translateY(-0.33em);
  -moz-transform: translateY(-0.33em);
  -ms-transform: translateY(-0.33em);
}
.buttons:active span {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
}

.body-mp {
  background-color: #023859;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
.body-mp .div-title {
  margin: 5em 2em;
}
@media screen and (max-width: 650px) {
  .body-mp .div-title {
    margin: 8em 0 1em 0;
  }
}
.body-mp .div-title h1 {
  font-family: Kindly;
  color: #F26444;
  text-align: center;
  font-size: 2.5em;
}
.body-mp .div-title .p-bajada {
  color: #ffffffce;
  text-align: center;
  font-size: 1.1em;
}
.body-mp .barra-titulos {
  font-size: 1.2em;
  margin: 3em 0;
  color: #F26444;
  background-color: #ffffff10;
  width: 90%;
  height: 2em;
  align-self: center;
}
@media screen and (max-width: 650px) {
  .body-mp .barra-titulos {
    margin: 1em 0 1em 0;
    height: 3em;
    width: 95%;
  }
}
.body-mp #seccion-principal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.body-mp #seccion-principal #gifPJ {
  display: flex;
  flex-flow: column nowrap;
  height: 100px;
  padding: 2em;
}
.body-mp #seccion-principal #gifPJ img {
  margin: 1em 0;
}
.body-mp #seccion-principal #gifPJ p {
  font-family: Kindly;
  font-size: 1em;
  padding-bottom: 1em;
}
.body-mp #seccion-principal .container {
  margin: 0.5em;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1.3fr 0.5fr 0.7fr 1.2fr 1.1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr 0.5fr;
  gap: 1em 1em;
  grid-template-areas: "avatar nombre-clase-nivel nombre-clase-nivel exp-vida exp-vida ata-def ata-def" "objetivo-label objetivo-label objetivo-select objetivo-select objetivo-select objetivo-select objetivo-select" "acciones-label acciones-label acciones-botones acciones-botones acciones-botones acciones-botones acciones-botones";
  width: 400px;
  height: 150px;
}
.body-mp #seccion-principal .container .avatar {
  grid-area: avatar;
}
.body-mp #seccion-principal .container .nombre-clase-nivel {
  grid-area: nombre-clase-nivel;
  padding-top: 1.2em;
  color: #ffffffce;
  text-transform: capitalize;
}
.body-mp #seccion-principal .container .nombre-clase-nivel .nombre-card {
  font-size: 1.35em;
}
.body-mp #seccion-principal .container .nombre-clase-nivel .clase-card {
  font-size: 0.9em;
  display: inline-block;
  margin: 0.2em 0;
}
.body-mp #seccion-principal .container .nombre-clase-nivel .nivel-card {
  font-size: 0.95em;
  color: #ffffffce;
  font-size: 0.9em;
}
.body-mp #seccion-principal .container .nombre-clase-nivel .nivel-card strong {
  color: #F26444;
  font-size: 0.95em;
}
.body-mp #seccion-principal .container .objetivo-label {
  grid-area: objetivo-label;
  text-align: center;
  font-size: 1.2em;
  color: #F26444;
  text-transform: capitalize;
  font-weight: 600;
}
@media screen and (max-width: 650px) {
  .body-mp #seccion-principal .container .objetivo-label {
    font-size: 1.1em;
  }
}
.body-mp #seccion-principal .container .acciones-label {
  grid-area: acciones-label;
  text-align: center;
  font-size: 1.2em;
  color: #F26444;
  text-transform: capitalize;
  font-weight: 600;
}
@media screen and (max-width: 650px) {
  .body-mp #seccion-principal .container .acciones-label {
    font-size: 1.1em;
  }
}
.body-mp #seccion-principal .container .objetivo-select {
  grid-area: objetivo-select;
}
.body-mp #seccion-principal .container .objetivo-select select {
  width: 100%;
  text-transform: capitalize;
}
.body-mp #seccion-principal .container .acciones-botones {
  grid-area: acciones-botones;
  display: flex;
}
.body-mp #seccion-principal .container .acciones-botones button {
  width: 100%;
}
.body-mp #seccion-principal .container .acciones-botones button:nth-child(2) {
  margin: 0 0.2em;
}
.body-mp #seccion-principal .container .exp-vida {
  grid-area: exp-vida;
  font-size: 1.1em;
  padding: 1.2em 0 0 1em;
  color: #ffffffce;
  text-transform: capitalize;
}
.body-mp #seccion-principal .container .exp-vida strong {
  font-size: 1.15em;
  color: #F26444;
}
@media screen and (max-width: 650px) {
  .body-mp #seccion-principal .container .exp-vida strong {
    font-size: 1.05em;
  }
}
@media screen and (max-width: 650px) {
  .body-mp #seccion-principal .container .exp-vida {
    font-size: 1em;
  }
}
.body-mp #seccion-principal .container .ata-def {
  grid-area: ata-def;
  font-size: 1.1em;
  padding-top: 1.2em;
  color: #ffffffce;
  text-transform: capitalize;
}
.body-mp #seccion-principal .container .ata-def strong {
  font-size: 1.15em;
  color: #F26444;
}
@media screen and (max-width: 650px) {
  .body-mp #seccion-principal .container .ata-def strong {
    font-size: 1.05em;
  }
}
@media screen and (max-width: 650px) {
  .body-mp #seccion-principal .container .ata-def {
    font-size: 1em;
  }
}
.body-mp #seccion-principal .cards {
  background: rgba(2, 56, 89, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}
.body-mp #seccion-principal .cards-kill {
  background: #000000a0;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  filter: grayscale(100%);
}
.body-mp #seccion-principal .cards-kill img {
  height: 70px;
  padding: 0 11px;
}
.body-mp #formNewPJ {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
}
.body-mp #formNewPJ .formNewPJ {
  margin: 1em 0;
  padding: 0.75em;
  font-size: 1em;
  font-weight: bold;
  border: 2px;
  border-radius: 0.75em;
  background: #e8e8e8;
}
.body-mp #formNewPJ .formNewPJ option {
  text-transform: capitalize;
}
.body-mp #formNewPJ #newPJButton {
  margin: 1em 0 0 0;
}
.body-mp #formNewPJ #newPJButton span {
  background-color: #F26444;
}
.body-mp #formNewPJ #delPJ {
  margin: 1em 0 0 0;
}
.body-mp #formNewPJ #delPJ span {
  background-color: #F26444;
}
.body-mp #battleLog {
  align-self: center;
  width: 50%;
  height: 120px;
  background-color: #ffffffce;
  margin: 1em;
  overflow-y: scroll;
}
.body-mp #battleLog p {
  font-size: 1.1em;
}
.body-mp #battleLog h5 {
  font-family: Kindly;
  color: #F26444;
  font-size: 0.9em;
}
@media screen and (max-width: 650px) {
  .body-mp #battleLog {
    width: 95%;
    height: 150px;
  }
}
.body-mp #battleLog::-webkit-scrollbar {
  width: 10px;
}
.body-mp #battleLog::-webkit-scrollbar-thumb {
  background: #F26444;
}

.botones {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.botones button {
  align-self: center;
  width: 180px;
  margin: 2em 1em;
}
.botones .mostrar-margin {
  margin-top: 5em;
}
@media screen and (max-width: 650px) {
  .botones .botones-container {
    margin-top: 2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .botones .botones-container button {
    width: 180px;
    margin-top: 0.1em;
  }
}
.botones .btn-principal {
  background: #F26444;
  font-size: 1.01em;
}
@media screen and (max-width: 650px) {
  .botones .btn-principal {
    font-size: 1.2em;
  }
}

.ocultar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
