/* Importo fuentes de G Fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
/* Importo reglas generales */
/* Mixins */
/* Mapas */
/* Mixins */
/* Mixins */
/* Mapas */
/* Extends */
.buttons {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #161616;
}
.buttons:hover span {
  transform: translateY(-0.33em);
  -webkit-transform: translateY(-0.33em);
  -o-transform: translateY(-0.33em);
  -moz-transform: translateY(-0.33em);
  -ms-transform: translateY(-0.33em);
}
.buttons:active span {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
}

@font-face {
  font-family: "Kindly";
  src: url("/KindlyRewind-BOon.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-100 {
  height: 100vh;
}

.height-0 {
  height: 0vh;
}

.d-none {
  display: none;
}

.buttons span {
  display: block;
  box-sizing: border-box;
  border: 2px solid #161616;
  border-radius: 0.75em;
  padding: 0.75em 1.5em;
  background: #e8e8e8;
  color: #161616;
  transform: translateY(-0.2em);
  -webkit-transform: translateY(-0.2em);
  -o-transform: translateY(-0.2em);
  -moz-transform: translateY(-0.2em);
  -ms-transform: translateY(-0.2em);
  transition: transform 0.15s ease;
}

#btn-back-i {
  margin: 2em;
  position: fixed;
  top: 0.3em;
  left: 0.3em;
}

/* Mapas */
/* Mixins */
/* Mixins */
/* Mapas */
/* Extends */
.buttons {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #161616;
}
.buttons:hover span {
  transform: translateY(-0.33em);
  -webkit-transform: translateY(-0.33em);
  -o-transform: translateY(-0.33em);
  -moz-transform: translateY(-0.33em);
  -ms-transform: translateY(-0.33em);
}
.buttons:active span {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
}

/* Mixins */
/* Importo secciones */
/* Mixins */
/* Mapas */
/* Mixins */
/* Mixins */
/* Mapas */
/* Extends */
.buttons {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #161616;
}
.buttons:hover span {
  transform: translateY(-0.33em);
  -webkit-transform: translateY(-0.33em);
  -o-transform: translateY(-0.33em);
  -moz-transform: translateY(-0.33em);
  -ms-transform: translateY(-0.33em);
}
.buttons:active span {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
}

.body-i {
  background-color: #023859;
}
.body-i #section-index {
  flex-flow: column nowrap;
}
.body-i #section-index #centro {
  /* width: 600px;
  height: 200px;
  background-color: lightcoral; */
  margin-bottom: 5em;
}
.body-i #section-index #centro h1 {
  font-size: 3em;
}
.body-i #game-mode {
  background-color: #023859;
  flex-flow: column;
}
.body-i #pop-up {
  height: 10%;
  width: 20%;
  position: fixed;
  top: 25%;
  z-index: 1;
  background-color: blanchedalmond;
}

/* Mixins */
/* Mapas */
/* Mixins */
/* Mixins */
/* Mapas */
/* Extends */
.buttons {
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #161616;
}
.buttons:hover span {
  transform: translateY(-0.33em);
  -webkit-transform: translateY(-0.33em);
  -o-transform: translateY(-0.33em);
  -moz-transform: translateY(-0.33em);
  -ms-transform: translateY(-0.33em);
}
.buttons:active span {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
}

.body-mp {
  background-color: #023859;
  display: flex;
  flex-flow: column nowrap;
}
.body-mp .div-title {
  margin: 3em 2em;
}
.body-mp .div-title h1 {
  font-family: Kindly;
  color: #F26444;
  text-align: center;
  font-size: 2.5em;
}
.body-mp .div-title .p-bajada {
  color: #ffffffce;
  text-align: center;
  font-size: 1.1em;
}
.body-mp section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* .cards{
      width: 60%;
      background: rgba( 118, 163, 199, 0.25 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 5px );
      -webkit-backdrop-filter: blur( 5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
  } */
}
.body-mp section #nombreImagen {
  grid-area: 1/1/9/4;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.body-mp section #nombreImagen p {
  color: #ffffffce;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 0 24px 0;
}
.body-mp section #nombreImagen img {
  display: block;
  width: 85px;
}
.body-mp section #stats {
  grid-area: 1/4/9/7;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-width: 120px;
}
.body-mp section #stats p {
  font-size: 1em;
  display: block;
  color: #ffffffce;
  margin: 0 0 60px 0;
}
.body-mp section #stats p strong {
  color: #F26444;
  font-size: 1.1em;
}
.body-mp section #acciones {
  grid-area: 1/7/9/10;
}
.body-mp section #acciones .acciones {
  height: 85px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 60px;
}
.body-mp section #acciones .acciones .buttons-acciones {
  width: 50%;
}
.body-mp section #inputAcciones {
  grid-area: 1/10/9/13;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.body-mp section #inputAcciones form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  margin-bottom: 60px;
}
.body-mp section #inputAcciones form select {
  width: 100%;
}
.body-mp section #inputAcciones form input {
  width: 100%;
}
.body-mp .formNewPJ {
  margin: 1em 0;
  padding: 0.75em;
  font-size: 1em;
  font-weight: bold;
  border: 2px;
  border-radius: 0.75em;
  background: #e8e8e8;
}

.botones {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.botones button {
  align-self: center;
  width: 200px;
  margin: 2em 2em;
}
.botones .ocultar {
  display: none;
}
.botones .mostrar-margin {
  margin-top: 5em;
}

/*# sourceMappingURL=style.css.map */
