body {
    background-color: antiquewhite;
    display: flex;
    flex-flow: column nowrap;

    h1 {
        margin: 2em 2em;
    }

    section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        #nombreImagen {
            p {
                text-align: center;
                font-size: 1.2em;
                margin: 1em;
            }

            img {
                display: block;
            }
        }

        #stats {
            display: flex;
            flex-flow: column nowrap;

            p {
                font-size: 1em;
                display: block;
                color: rebeccapurple;
                strong {
                    color: black;
                    font-size: 1.1em;
                }
            }


        }
    }

    .botones {
        display: flex;
        justify-content: center;

        button {
            align-self: center;
            width: 200px;
            margin: 2em 2em;
        }
    }
}