body {
    h1 {
        margin: 2em 0;
    }

    section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        #nombreImagen {
            p {
                text-align: center;
                font-size: 1.2em;
                margin: 1em;
            }

            img {       
                display: block;
            }
        }

        #stats {
            display: flex;
            flex-flow: column nowrap;

            p {
                font-size: 1em;/* 
                margin: 1em; */
                display: block ;
            }
        }
    }
}