.body-i {
    background-color: antiquewhite;

    #section-index {

        flex-flow: column nowrap;

        #centro {
            width: 600px;
            height: 200px;
            background-color: lightcoral;

            h1 {
                font-size: 3em;
            }
        }

        #div-btn-index {
            .button-index {
                background-color: gray;
                height: 50px;
                width: 200px;
                margin-top: 5em;
                animation: init-float 5s cubic-bezier(0.001, 0.02, 0.02, 0.001) 10s infinite;
                box-shadow: 1.2em .8em rgba(0, 0, 0, 0.8);

                &:hover {
                    animation-play-state: paused;
                }

                &:active {
                    box-shadow: .5em .4em rgba(0, 0, 0, 0.8);
                    transform: translateY(4px);
                }
            }
        }

        @keyframes init-float {
            0% {
                transform: (translateY(0));
            }

            25% {
                transform: (translateY(-1em));
            }

            50% {
                transform: (translateY(0));
            }

            75% {
                transform: (translateY(1em));
            }

            100% {
                transform: (translateY(0));
            }
        }

        @keyframes init-float-r {
            0% {
                transform: (translateY(0));
            }

            25% {
                transform: (translateY(1em));
            }

            50% {
                transform: (translateY(0));
            }

            75% {
                transform: (translateY(-1em));
            }

            100% {
                transform: (translateY(0));
            }
        }

    }

    #game-mode {
        background-color: lightcoral;
        flex-flow: column;

        button {
            margin: 2em;

        }

        #btn-singleplayer {
            animation: init-float-r 5s cubic-bezier(0.001, 0.02, 0.02, 0.001) 10s infinite;

            &:hover {
                animation-play-state: paused;
            }

            &:active {
                box-shadow: .5em .4em rgba(0, 0, 0, 0.8);
                transform: translateY(4px);
            }
        }
    }

    .height-100 {
        height: 100vh;
    }

    .height-0 {
        height: 0vh;
    }

    .d-none {
        display: none;
    }

    .button-index {
        background-color: gray;
        text-transform: uppercase;
        height: 50px;
        width: 166px;
        margin-top: 5em;
        animation: init-float 5s cubic-bezier(0.001, 0.02, 0.02, 0.001) 10s infinite;
        box-shadow: 1.2em .8em rgba(0, 0, 0, 0.8);

        &:hover {
            animation-play-state: paused;
        }

        &:active {
            box-shadow: .5em .4em rgba(0, 0, 0, 0.8);
            transform: translateY(4px);
        }
    }

    #btn-back-i {
        height: 30px;
        width: 100px;
        position: fixed;
        top: .3em;
        left: .3em;
        animation: none;
        box-shadow: .8em .5em rgba(0, 0, 0, 0.8);

        &:active {
            box-shadow: .5em .3em rgba(0, 0, 0, 0.8);
            transform: translateY(4px);
        }
    }

    #pop-up{
        height: 10%;
        width: 20%;
        position: fixed;
        top: 30%;
        z-index: 1;
        background-color: blanchedalmond;
    }

}