@import '../base/mixins';
@import '../base/mapas';
@import '../base/extends';

.body-mp {

    background-color: map-get($colors, backgrounds);
    display: flex;
    flex-flow: column nowrap;

    .div-title {
        margin: 3em 2em;

        h1 {
            font-family: Kindly;
            color: map-get($colors, primary);
            text-align: center;
            font-size: 2.5em;
        }

        .p-bajada {
            color: map-get($colors, secondary);
            text-align: center;
            font-size: 1.1em;
        }
    }

    section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        /* .cards{
            width: 60%;
            background: rgba( 118, 163, 199, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 5px );
            -webkit-backdrop-filter: blur( 5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        } */

        #nombreImagen {
            grid-area: 1 / 1 / 9 / 4;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            p {
                color: map-get($colors, secondary);
                text-align: center;
                text-transform: capitalize;
                font-size: 1.2em;
                font-weight: 600;
                margin: 0 0 24px 0;
            }

            img {
                display: block;
                width: 85px;
            }


        }

        #stats {
            grid-area: 1 / 4 / 9 / 7;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            min-width: 120px;

            p {
                font-size: 1em;
                display: block;
                color: map-get($colors, secondary);
                margin: 0 0 60px 0;

                strong {
                    color: map-get($colors, primary);
                    font-size: 1.1em;
                }
            }


        }

        #acciones {
            grid-area: 1 / 7 / 9 / 10;

            .acciones {
                height: 85px;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: space-evenly;
                margin-bottom: 60px;

                .buttons-acciones {
                    width: 50%;

                }
            }

        }

        #inputAcciones {
            grid-area: 1 / 10 / 9 / 13;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;

            form {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                height: 85px;
                margin-bottom: 60px;

                select {
                    width: 100%;
                }

                input {
                    width: 100%;
                }
            }
        }
    }

    .formNewPJ {
        margin: 1em 0;
        padding: 0.75em;
        font-size: 1em;
        font-weight: bold;
        border: 2px;
        border-radius: 0.75em;
        background: map-get($colors, button);
        
    }
}



.botones {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    button {
        align-self: center;
        width: 200px;
        margin: 2em 2em;
    }

    .ocultar {
        display: none;
    }

    .mostrar-margin {
        margin-top: 5em;
    }

}