@import '../base/mixins';
@import '../base/mapas';
@import '../base/extends';

#body-sp {

    @extend %fadein;

    background-color: map-get($colors, backgrounds);
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;

    @media screen and (max-width: 650px) {
        height: 95vh;
        min-height: 1000px;
    }

    .div-title {
        margin: 5em 2em;

        @media screen and (max-width: 650px) {
            margin: 8em 0 1em 0;
        }

        h1 {
            font-family: Kindly;
            color: map-get($colors, primary);
            text-align: center;
            font-size: 2.5em;
        }

        .p-bajada {
            color: map-get($colors, secondary);
            text-align: center;
            font-size: 1.1em;
        }
    }

    #title-SP {
        margin: 5em 2em;

        @media screen and (max-width: 650px) {
            margin: 8em 0 1em 0;
        }

        h2 {
            font-family: Kindly;
            color: map-get($colors, primary);
            text-align: center;
            font-size: 2em;
        }

        .p-bajada {
            color: map-get($colors, secondary);
            text-align: center;
            font-size: 1.1em;
        }
    }

    #seccion-principal-SP {

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 65%;

        &.SPbody {
            overflow: hidden;
        }

        .img-SP {
            text-align: center;

            img {
                width: 150px;
                height: 150px;
            }
        }

        &.crearPJ-container {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
            align-self: center;
            width: 90%;

            @media screen and (max-width: 650px) {
                margin: .5em;
                flex-flow: column;
            }


            .div1-crearPJ {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em 2em 1em 0.5em;
                min-width: 150px;
                min-height: 250px;

                @media screen and (max-width: 650px) {
                    min-height: 125px;
                }


                form>input,
                form>span {
                    color: #fff;
                    margin: 1em;

                    @media screen and (max-width: 650px) {
                        margin: .5em;
                    }
                }

                input[type="radio"]:checked+span {
                    color: map-get($colors, primary);

                }

            }

            .div2-crearPJ {

                padding: 1em;

                form {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin-bottom: 2em;
                        width: 65%;

                        @media screen and (max-width: 1200px) {
                            width: 70%;
                        }

                        @media screen and (max-width: 650px) {
                            width: 100%;
                        }
                    }
                }
            }

            .div3-crearPJ {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-flow: column;
                min-width: 150px;
                min-height: 250px;
                padding: 0.5em 2em 1em 2em;

                @media screen and (max-width: 650px) {
                    min-height: 125px;
                }

                p {
                    color: #fff;
                    margin: 1em 0;

                    span {
                        color: map-get($colors, primary);
                    }
                }

            }

        }

        &.mainSP {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 30px;

            .div1-mainSP {
                grid-area: 1 / 1 / 2 / 2;
                min-width: 300px;
                min-height: 300px;
            }

            .div2-mainSP {
                grid-area: 1 / 2 / 2 / 3;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-flow: column;
                min-width: 150px;
                min-height: 250px;
                padding: 0.5em 2em 1em 2em;
                min-width: 250px;
                min-height: 250px;

                @media screen and (max-width: 650px) {
                    min-height: 125px;
                }

                p {
                    color: #fff;
                    margin: 1em 0;

                    span {
                        color: map-get($colors, primary);
                    }
                }
            }

            .div3-mainSP {
                grid-area: 1 / 3 / 2 / 4;

                img {
                    width: 400px;
                }

            }

            .div4-mainSP {
                grid-area: 2 / 1 / 3 / 2;

                img {
                    width: 150px;

                }
            }

            .div5-mainSP {
                grid-area: 2 / 2 / 3 / 3;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-flow: column;
                min-width: 150px;
                min-height: 250px;
                padding: 0.5em 2em 1em 2em;
                min-width: 250px;
                min-height: 250px;

                @media screen and (max-width: 650px) {
                    min-height: 125px;
                }

                p {
                    color: #fff;
                    margin: 1em 0;

                    span {
                        color: map-get($colors, primary);
                    }
                }
            }

            .div6-mainSP {
                grid-area: 2 / 3 / 3 / 4;
            }
        }



        .wrapper {
            display: flex;
            height: 100%;
            width: 60%;
            margin: 0 auto;
            perspective: 350px;

            @media screen and (max-width: 650px) {
                perspective: 250px;
                width: 80%;
            }
        }

        .scroll-text {
            color: map-get($colors, primary);
            font-size: 2.5em;
            line-height: 1.3em;
            text-align: justify;
            position: relative;
            animation: scroll 90s linear forwards;

            @media screen and (max-width: 650px) {
                font-size: 1.8em;
            }
        }

        .fixed-text {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            margin: 0 auto;
            height: 100%;
            width: 60%;
            color: map-get($colors, primary);
            font-size: 2vw;
            line-height: 1.5em;
            text-align: center;

            @media screen and (max-width: 650px) {
                width: 85%;
                font-size: 1em;
            }
        }

        h1,
        h2 {
            text-align: center;
        }

        @keyframes scroll {
            from {
                top: 0;
                transform: translateZ(0) rotateX(20deg);
            }

            to {
                top: -7500px;
                transform: translateZ(-3500px) rotateX(2deg);
            }
        }
    }

    #battleLog {

        align-self: center;
        width: 50%;
        height: 120px;
        background-color: map-get($colors, secondary);
        margin: 1em;
        overflow-y: scroll;


        p {
            font-size: 1.1em;
        }

        h5 {
            font-family: Kindly;
            color: map-get($colors, primary);
            font-size: .9em;
        }

        @media screen and (max-width: 650px) {
            width: 95%;
            height: 150px;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: map-get($colors, primary);
        }

    }

    .botones {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        button {
            align-self: center;
            width: 180px;
            margin: 2em 1em;
        }

        .mostrar-margin {
            margin-top: 5em;
        }

        @media screen and (max-width: 650px) {

            .botones-container {
                margin-top: 2em;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;

                button {
                    width: 180px;
                    margin-top: .1em;
                }
            }
        }

        .btn-principal {
            background: map-get($colors, primary);
            font-size: 1.01em;

            @media screen and (max-width: 650px) {
                font-size: 1.2em;

            }
        }
    }

    .ocultar {
        display: none;
    }
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;

    .lds-dual-ring {
        width: 80px;
        height: 80px;
    }

    .lds-dual-ring:after {
        display: flex;
        content: " ";
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}

.fadein {
    @extend %fadein;
}