@import '../base/mixins';
@import '../base/mapas';
@import '../base/extends';

@font-face {
    font-family: 'Kindly';
    src: url('https://dnmartel.github.io/clirpg/KindlyRewind-BOon.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    list-style: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-100 {
    height: 100vh;
}

.height-0 {
    height: 0vh;
}

.d-none {
    display: none;
}

.buttons {
    @extend %buttons;

    span {
        display: block;
        box-sizing: border-box;
        border: 2px solid map-get($colors, button-outline);
        border-radius: 0.75em;
        padding: 0.75em 1.5em;
        background: map-get($colors, button);
        color: map-get($colors, button-outline);
        @include transform(translateY(-0.2em));
        transition: transform 0.15s ease;
    }
}

#btn-back-i {
    margin: 2em;
    position: fixed;
    top: .3em;
    left: .3em;
}